.contact {
  padding: 200px 0;
  background-color: $PrimaryColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__datos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    @media (max-width: 1450px) {
      flex-direction: column;
    }

    h1 {
      font-size: 93px;
      color: $SecondaryColor;

      @media (max-width: 1450px) {
        margin-bottom: 50px;
      }

      @media (max-width: 992px) {
        text-align: start;
        width: 100%;
        padding-left: 50px;
      }

      @media (max-width: 600px) {
        font-size: 35px;
        margin-bottom: 20px;
      }
    }

    &--email {
      width: 955px;
      padding: 61px;
      border-radius: 90px;
      border: 3px solid $SecondaryColor;
      background: #ffefba;
      background: -webkit-linear-gradient(to right, #ffffff, #ffefba);
      background: linear-gradient(to right, #ffefba, #464646);

      h6 {
        color: $PrimaryColor;
        font-size: 32px;

        @media (max-width: 600px) {
          font-size: 18px;
        }
      }

      @media (max-width: 992px) {
        width: 95%;
        padding: 40px;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    width: 100%;

    a {
      color: $SecondaryColor;
      font-size: 38px;
      text-decoration: none;

      &:hover{
        opacity: .7;
        transition: .2s ease-in-out;
      }

      @media (max-width: 992px) {
        margin-bottom: 50px;
        width: 100%;
        text-align: start;
        padding-left: 50px;
      }

      @media (max-width: 600px) {
        font-size: 22px;
        margin-bottom: 15px;
      }
    }

    @media (max-width: 992px) {
      flex-direction: column;
    }

    @media (max-width: 600px) {
      margin-top: 40px;
    }
  }
}
