.footer {
  height: 200px;
  background-color: $SecondaryColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;

  @media (max-width: 800px) {
    flex-direction: column;
    height: 100%;
    padding: 50px 0;
  }

  &__titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 50px;

    p{
      margin: 0 30px;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 600;

      @media (max-width: 600px) {
        margin: 20px 0;
      }
    }

    @media (max-width: 800px) {
      margin: 50px 0;
    }

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__btn {
    border: none;
    background: none;
    cursor: pointer;

    @media (max-width: 700px) {
      margin: 20px 0;
    }
  }
}

.bi-arrow-up-circle-fill {
  color: $PrimaryColor;
}
