.homeApp {
  background-color: $SecondaryColor;
  padding: 2px;
  height: 100vh;

  @media (max-width: 1050px) {
    display: grid;
    place-content: center;
  }

  &__titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 250px;

    @media (max-width: 1050px) {
      margin-top: 100px;
    }

    @media (max-width: 800px) {
      display: none;
    }

    &--title {
      @media (max-width: 800px) {
        display: none;
      }
    }
    &--title:nth-child(1) {
      margin-left: 120px;

      @media (max-width: 992px) {
        width: 90%;
        margin: 0;
        padding: 0 20px;
      }
    }
    &--title:nth-child(2) {
      margin: 0 20px;

      @media (max-width: 992px) {
        margin: 0;
        padding: 0 20px;
      }
    }
    &--title:nth-child(3) {
      margin-right: 120px;

      @media (max-width: 992px) {
        margin: 0;
        padding: 0 20px;
      }
    }
  }

  &__textInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1700px;
    margin: 0 auto;
    color: $PrimaryColor;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    @media (max-width: 800px) {
      display: none;
    }

    @media (max-width: 1400px) {
      justify-content: space-around;
    }

    @media (max-width: 1200px) {
      font-size: 20px;
    }

    h3 {
      font-weight: 400;
      margin: 0 15px;

      @media (max-width: 600px) {
        margin-bottom: 20px;
      }

      @media (max-width: 750px) {
        font-size: 16px;
      }
    }

    &--textTwo {
      display: flex;
      align-items: center;

      svg {
        margin: 0 5px;
      }

      @media (max-width: 800px) {
        justify-content: end;
      }
    }

    &--scroll {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: end;

      @media (max-width: 1400px) {
        display: none;
      }

      &--text {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
      }
    }
  }

  &__responsive {
    display: none;

    @media (max-width: 800px) {
      display: block;
    }

    &--item {
      display: flex;
      flex-direction: row;
      margin: 0 30px;
      margin-bottom: 25px;

      @media (max-width: 500px) {
        margin: 0 20px;
        margin-bottom: 25px;
      }

      &--itemUno {
        width: 30%;
      }

      &--itemDos {
        width: 70%;
        color: $PrimaryColor;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: end;

        h3:nth-of-type(1){
          display: flex;
          flex-direction: column;
        }

        h3 {
          text-transform: uppercase;
          font-size: 16px;

          @media (max-width: 500px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}

.containerText {
  display: inline-block;
  margin: -5px;

  &__word {
    overflow: hidden;
    border-right: 0.15em solid $PrimaryColor;
    white-space: nowrap;
    animation: typing 5s steps(15, end) forwards, blinking 0.5s infinite;
    font-size: 1.6rem;
    width: 0;
    color: $PrimaryColor;
    font-size: 95px;
    font-weight: 600;

    @media (max-width: 1450px) {
      font-size: 70px;
    }

    @media (max-width: 1050px) {
      font-size: 50px;
    }

    @media (max-width: 800px) {
      font-size: 40px;
    }

    @media (max-width: 400px) {
      font-size: 32px;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  from {
    border-color: transparent;
  }
  to {
    border-color: $PrimaryColor;
  }
}




