.menuBtn {
  position: fixed;
  z-index: 2;

  @media (max-width: 800px) {
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  button {
    margin-left: 110px;
    margin-top: 30px;
    width: 400px;
    border-radius: 60px;
    font-size: 88px;
    font-weight: 700;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    padding: 10px 60px;
    text-transform: uppercase;
    color: rgba(17, 16, 19, 255);
    background-color: $SecondaryColor;

    @media (max-width: 800px) {
      position: relative;
      margin: 0;
      padding: 2px 0;
      font-size: 78px;
    }

    @media (max-width: 450px) {
      width: 95%;
    }

    &:hover {
      color: $SecondaryColor;
      border: 1px solid $SecondaryColor;

      &::after {
        transform: skewX(-45deg) scale(1, 1);
        -webkit-transition: all 1s;
        transition: all 1s;
      }
    }

    &::after {
      content: "";
      background: rgba(17, 16, 19, 255);
      position: absolute;
      z-index: -1;
      left: -20%;
      right: -20%;
      top: 0;
      bottom: 0;
      transform: skewX(-45deg) scale(0, 1);
      transition: all 1s;
    }
  }
}

.menu-open {
  overflow: hidden;
}

.modalMenu {
  background-color: $PrimaryColor;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  display: grid;
  place-items: center;

  &__btnClose {
    border: none;
    position: fixed;
    background: none;
    justify-self: self-end;
    align-self: self-start;
    padding-top: 50px;
    margin-right: 70px;
    cursor: pointer;

    svg {
      color: $SecondaryColor;
      transition: transform 0.2s ease-in-out;
      &:hover {
        transform: scale(0.8);
      }
    }
  }

  &__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;

    @media (max-width: 750px) {
      padding: 0 20px;
    }

    a {
      font-size: 28px;
      text-decoration: none;
      color: $SecondaryColor;

      @media (max-width: 750px) {
        font-size: 16px;
      }

      &:hover {
        text-decoration: underline;
        transition: 1s;
      }
    }

    p {
      font-size: 28px;
      color: $SecondaryColor;

      @media (max-width: 750px) {
        font-size: 16px;
      }
    }
  }

  &__items {
    justify-self: self-start;
    margin-left: 100px;

    @media (max-width: 1000px) {
      margin: 0 auto;
      width: 90%;
      margin-top: 200px;
    }

    h2 {
      font-size: 170px;
      text-transform: uppercase;
      color: $SecondaryColor;
      margin-bottom: -70px;
      cursor: pointer;
      letter-spacing: -10px;

      @media (max-width: 1350px) {
        font-size: 120px;
        margin-bottom: -50px;
      }

      @media (max-width: 1000px) {
        font-size: 100px;
        margin-bottom: -40px;
      }

      @media (max-width: 750px) {
        font-size: 60px;
        margin-bottom: -20px;
        letter-spacing: -5px;
      }

      span {
        margin-left: -20px;

        @media (max-width: 1000px) {
          display: none;
        }
      }

      &:hover {
        opacity: 0.5;
      }
    }

    h2:nth-of-type(1) {
      margin-top: -20px;
    }

    a {
      text-decoration: none;
      color: $SecondaryColor;
    }
  }
}

.spanMenuEntrance {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $SecondaryColor;
  z-index: 2;
}

.noShow {
  display: none;
}

.show {
  display: block;
}
