@import "./sass/Colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

@import "./sass/Menu.scss";
@import "/src/sass/Home.scss";
@import "./sass/AboutMe.scss";
@import "./sass/Projects.scss";
@import "./sass/Contact.scss";
@import "./sass/Habilidades.scss";
@import "./sass/Footer.scss";

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: $PrimaryColor;
}

::-webkit-scrollbar-thumb {
  background-color: #88888832;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
